{% extends 'base.html' %}
{% block title %}Inicio App{% endblock %}
{% block content %}
<h1>¡¡Bienvenidos a Django Templates!!</h1>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat blanditiis delectus omnis repellat dolor sint suscipit nulla facilis cum ab, ex, vel libero. Nisi, non labore! Deserunt fuga maxime voluptatem.
    Excepturi ipsa eum aut, reprehenderit incidunt numquam. Optio numquam tempore aliquid eligendi ratione ut voluptate minus tempora qui distinctio earum, iusto cum itaque nam, laboriosam necessitatibus voluptatibus reprehenderit accusamus consectetur.
    Deleniti sit dolorem odio at sapiente provident quo minus sequi assumenda voluptates perspiciatis maiores, minima nostrum, animi et? Nihil obcaecati quos, praesentium quo eaque quibusdam perspiciatis eligendi sequi rem! Repellendus.
    Temporibus tempora quam dignissimos laudantium! Unde amet animi ipsa facilis labore aperiam tenetur ex rerum asperiores in sequi earum quam, mollitia adipisci velit fuga omnis iusto assumenda magnam veritatis eveniet?
    Est blanditiis aliquam culpa dolores error nemo commodi eveniet consequatur perspiciatis in distinctio rem quibusdam eos quaerat corporis molestiae esse dolore, mollitia repellendus labore nam voluptates alias! Quia, quae iusto!
    Vitae hic nesciunt et repellendus a omnis aperiam laudantium necessitatibus ab provident modi, delectus expedita explicabo veniam commodi fugiat, sint dolorem incidunt repudiandae excepturi voluptatibus? Optio deleniti laudantium aspernatur doloremque!
    Nemo quaerat, nisi consequatur nihil aperiam impedit atque sed aliquid facere laboriosam, laborum non pariatur illo hic quibusdam maxime, doloremque blanditiis nam ea quis distinctio iure! Ab odio ratione cumque.
    Veniam a eius assumenda minima doloremque amet similique modi aperiam nam atque totam perferendis fuga, quam numquam voluptatum autem, optio impedit perspiciatis soluta. Consectetur harum laborum consequuntur dignissimos nemo blanditiis!
    Tempore deserunt quam iusto! Possimus in dolorem illum mollitia, magnam sunt nesciunt eos quo veniam assumenda odio ullam laudantium consequuntur. Commodi quo at sequi mollitia minus quas, quae temporibus omnis.
    Aliquid animi asperiores deleniti. Minima, nisi quos numquam facilis explicabo, ducimus ea labore, esse in nostrum quae? Fuga voluptatem deleniti unde, ullam ut porro nostrum. Doloremque sapiente voluptatem quo consequuntur!
</p>
{% endblock %}