{% extends 'base.html' %}
{% block title %}Inicio Benjamín{% endblock %}
{% block content %}
<h1>Vista 1 Benjamín</h1>
<p>
LA LEYENDA DEL HADA Y EL MAGO<br>
rata blanca<br>
</p>
<p>
    Uh, no, no, no<br>
Cuenta la historia de un mago<br>
Que un día en su bosque encantado lloró<br>
Porque a pesar de su magia<br>
No había podido encontrar el amor<br>
</p>
<p>
La luna, su única amiga<br>
Le daba fuerzas para soportar<br>
Todo el dolor que sentía<br>
Por culpa de su tan larga soledad<br>
</p>
<p>
Es que él sabía muy bien que en su existir<br>
Nunca debía salir de su destino<br>
Si alguien te tiene que amar, ya lo sabrás<br>
Solo tendrás que saber reconocerlo<br>
</p>
<p>
Fue en una tarde que el mago<br>
Paseando en el bosque la vista cruzó<br>
Con la más dulce mirada<br>
Que en toda su vida jamás conoció<br>
</p>
<p>
Desde ese mismo momento<br>
El hada y el mago quisieron estar<br>
Solos los dos en el bosque<br>
Amándose siempre y en todo lugar<br>
</p>
<p>
Y el mal que siempre existió no soportó<br>
Ver tanta felicidad entre dos seres<br>
Y con su odio atacó hasta que el hada cayó<br>
En ese sueño fatal de no sentir<br>
</p>
<p>
En su castillo pasaba<br>
Las noches el mago buscando el poder<br>
Que devolviera a su hada<br>
Su amor, su mirada tan dulce de ayer<br>
</p>
<p>
Y no paró desde entonces<br>
Buscando la forma de recuperar<br>
A la mujer que aquel día<br>
En medio del bosque por fin pudo amar<br>
</p>
<p>
Y hoy sabe qué es el amor y que tendrá<br>
Fuerzas para soportar aquel conjuro<br>
Sabe que un día verá su dulce hada llegar<br>
Y para siempre con él se quedará<br>
</p>
<p>
Uh, no, no, no<br>
Uoh, uh-uh<br>
</p>
<p>
No<br>
</p>
{% endblock %}