{% extends 'base.html' %}
{% block title %}Inicio Benjamín{% endblock %}
{% block content %}
<h1>Vista 2 Benjamín</h1>
<p>
MOLINOS DE VIENTO<br>
mago de oz<br>
</p>
<p>
    Si acaso tú no ves<br>
Más allá de tu nariz<br>
No oyes a una flor reír<br>
</p>
<p>
Si no puedes hablar<br>
Sin tener que oír tu voz<br>
Utilizando el corazón<br>
</p>
<p>
Amigo Sancho, escúchame<br>
No todo tiene aquí un porqué<br>
Un camino lo hacen los pies<br>
</p>
<p>
Hay un mundo por descubrir<br>
Y una vida que arrancar<br>
De brazos del guion final<br>
</p>
<p>
A veces, siento al despertar<br>
Que el sueño es la realidad<br>
</p>
<p>
Bebe, danza, sueña<br>
Siente que el viento ha sido hecho para ti<br>
Vive, escucha y habla<br>
Usando, para ello, el corazón<br>
</p>
<p>
Siente que la lluvia besa tu cara<br>
Cuando haces el amor<br>
Grita con el alma, grita tan alto<br>
Que, de tu vida, tú seas, amigo, el único actor<br>
</p>
<p>
Si acaso tu opinión<br>
Cabe en un sí o no<br>
Y no sabes rectificar<br>
</p>
<p>
Si puedes definir<br>
El odio o el amor<br>
</p>
<p>
Amigo, ¡qué desilusión!<br>
</p>
<p>
No todo es blanco o negro, es gris<br>
Todo depende del matiz<br>
Busca y aprende a distinguir<br>
</p>
<p>
La Luna puede calentar<br>
Y el Sol, tus noches acunar<br>
Los árboles mueren de pie<br>
</p>
<p>
He visto un manantial llorar<br>
Al ver sus aguas ir al mar<br>
</p>
<p>
Bebe, danza, sueña<br>
Siente que el viento ha sido hecho para ti<br>
Vive, escucha y habla<br>
Usando, para ello, el corazón<br>
</p>
<p>
Siente que la lluvia besa tu cara<br>
Cuando haces el amor<br>
Grita con el alma, grita tan alto<br>
Que, de tu vida, tú seas, amigo, el único actor<br>
</p>
<p>
A veces, siento al despertar<br>
Que el sueño es la realidad<br>
</p>
<p>
Bebe, danza, sueña<br>
Siente que el viento ha sido hecho para ti<br>
Vive, escucha y habla<br>
Usando, para ello, el corazón<br>
</p>
<p>
Siente que la lluvia besa tu cara<br>
Cuando haces el amor<br>
Grita con el alma, grita tan alto<br>
</p>
<p>
Bebe, danza, sueña<br>
Siente que el viento ha sido hecho para ti<br>
Vive, escucha y habla<br>
Usando, para ello, el corazón<br>
</p>
<p>
Siente que la lluvia besa tu cara<br>
Cuando haces el amor<br>
Grita con el alma, grita tan alto<br>
Que, de tu vida, tú seas, amigo, el único actor<br>
</p>
{% endblock %}