{% extends 'base.html' %}
{% block title %}Vista 1 App1{% endblock %}
{% block content %}
<h1>Vista 1 App1</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aut nulla eveniet atque magni cupiditate reiciendis explicabo, aliquid possimus adipisci labore sapiente, inventore eum perspiciatis vero. Doloribus cum minima exercitationem.
    Fugit temporibus iure praesentium dolorem perspiciatis sit dolores autem et provident quibusdam nemo maxime architecto at doloribus nostrum quisquam, repellendus voluptates recusandae exercitationem perferendis officia iste delectus. Officia, facilis beatae?
    Dignissimos iure laborum, cupiditate mollitia porro dolorem odio tempora quidem nam libero, sapiente sit unde totam optio necessitatibus dolorum eum nobis officia magnam eveniet ex modi? Modi, suscipit molestias. Ab!
    In porro fugiat atque cumque quod animi corrupti. Et recusandae ex officiis voluptas impedit sint quas, enim omnis culpa, nam nemo dolorem pariatur inventore aperiam voluptates at odio numquam quia?
    Labore obcaecati libero reprehenderit repellat at odio sit aspernatur impedit sed commodi repudiandae unde, veritatis maiores nulla nisi, numquam eos doloremque doloribus amet quas. Veniam earum inventore enim voluptatem. Eius!
    Nesciunt ad voluptas iure placeat hic fuga sequi eaque cumque quia expedita, cupiditate eligendi veniam atque nisi facilis ullam unde, maiores at officiis, nostrum sapiente! Numquam fugiat omnis reprehenderit distinctio?
    Temporibus facilis voluptate aliquid nisi, molestias omnis corporis iste alias ullam et consequuntur, nihil reiciendis ipsum accusantium eveniet, quis obcaecati quam. Sapiente explicabo voluptatibus, molestiae commodi quo tempora assumenda voluptas.
    Quia possimus veniam veritatis neque rem vero iste culpa eius, iure tempora maiores corrupti ab! Magnam, ratione architecto earum fugiat quasi repellendus nesciunt, provident dolore unde aspernatur perferendis amet quia.
    Ducimus impedit ipsum ratione numquam cupiditate atque, debitis dolore sequi sit voluptatem iste, ad animi delectus esse asperiores culpa porro a? Consequuntur beatae numquam ducimus, eligendi quisquam alias repudiandae repellendus.
    Provident quaerat accusamus maxime voluptas illum omnis maiores voluptatum laudantium numquam in ab id porro doloribus, iure nisi necessitatibus eius consequatur quas cum fuga animi. Nam eaque itaque illo esse!
</p>
{% endblock %}