{% extends 'base.html' %}
{% block title %}Vista 2 app1{% endblock %}
{% block content %}
<h1>Vista 2 app1</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus quis ea culpa magni perspiciatis placeat quae illo a fugit, modi soluta itaque explicabo natus dignissimos nisi, corrupti voluptates maiores?
    Corrupti eum in ut repellat qui odio, vero, distinctio vitae temporibus cupiditate quos, perspiciatis consequatur debitis impedit cum. Sequi incidunt adipisci tempora officiis provident perspiciatis fuga voluptates nam, voluptatibus quae?
    Quisquam, consequatur earum! Odit, quibusdam voluptatibus esse illum dolores nisi voluptas sit ipsam praesentium accusamus expedita recusandae atque, soluta, sint fuga vitae cumque repellat corporis ratione delectus. Tempora, nihil aliquid?
    Quas aperiam veritatis nostrum sequi, itaque reiciendis, quibusdam fuga tempore minima repudiandae adipisci ratione! Nobis dolor quas explicabo, corrupti dignissimos labore quibusdam! Ex error doloribus libero illum illo, impedit id!
    Sunt perspiciatis delectus doloremque. Dignissimos omnis nemo consectetur qui dolore vero? Similique assumenda ad illo at, deserunt ut odit consectetur maiores praesentium accusamus eos quidem vero vel quia amet? Voluptate.
    Tempore odio omnis ab facere dolores molestias eligendi illum amet numquam et, vitae dolorem! Est tempora quidem veniam quia laborum autem commodi officia perspiciatis recusandae ducimus harum hic, ullam dignissimos?
    Corporis modi neque sit reprehenderit sint quasi numquam totam laborum voluptatum! Hic, libero debitis. Voluptas error incidunt ipsam cumque, beatae nobis iure assumenda dolorum minus consectetur. Eligendi ex maiores incidunt.
    Quod debitis dolorem facere molestias ratione adipisci officiis nostrum esse, incidunt iusto, ad tenetur, libero eius sit temporibus. Voluptatibus vitae delectus enim earum quia minima expedita, optio non fuga eveniet!
    Sequi ratione corrupti incidunt consequuntur iusto sunt? Rerum doloribus quasi cupiditate neque. Facere nihil hic, ad vitae libero officiis vero deleniti cumque assumenda praesentium eum error reprehenderit cupiditate a repudiandae!
    Eius ipsam quia, consequatur dolores at quaerat, magnam exercitationem incidunt quis officia voluptas vero soluta beatae assumenda provident cumque cupiditate et deserunt sed quo ipsa doloribus molestiae. Incidunt, sapiente optio.
</p>
{% endblock %}